<a href="https://colab.research.google.com/github/tegarpermanaputra21-sudo/praktikum-basisdata/blob/main/Bab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **üìù 4.2 TEST AWAL ‚Äì DDL (ALTER, MODIFY, DROP, RENAME)**

Jawablah pertanyaan berikut berdasarkan skema *order entry* pada Bab 3.

---

<br>

## 1. Contoh perintah ALTER dan MODIFY dalam satu sintaks

```sql
ALTER TABLE customer
MODIFY nama_customer VARCHAR(100);
```

<br>
Contoh lain (menambah kolom + modify sekaligus):

```sql
ALTER TABLE customer
ADD email VARCHAR(50),
MODIFY nama_customer VARCHAR(150);
```

<br>

## 2. Contoh penggunaan DROP TABLE
```sql
DROP TABLE order_detail;
```

<br>

## 3. Contoh penerapan RENAME TABLE
```sql
RENAME TABLE orders TO transaksi;
```

```sql
Kalau mau ditambah cover, heading, atau penjelasan versi lebih formal, bilang saja.
```



<br>

# **üìò 4.3.1 Mengubah Struktur Tabel (DDL ‚Äì ALTER TABLE)**

Terdapat empat macam perubahan yang dapat dilakukan terhadap struktur tabel:

1. Perubahan terhadap **nama field/kolom**
2. Perubahan terhadap **tipe data**
3. **Penambahan field**
4. **Penghapusan field**

<br>

---

## 1. Mengubah Nama Field

Perubahan hanya terjadi pada nama field/kolom. Nama lama diganti dengan nama baru menggunakan perintah **CHANGE**.

<br>

### Sintaks:
```sql
ALTER TABLE Nama_Table
CHANGE Nama_Field_Lama Nama_Field_Baru Tipe_Data(Size);
```

Contoh:
```sql
ALTER TABLE Mahasiswa
CHANGE Nama Nama_Mhs CHAR(40);
```

<br>

## 2. Mengubah Tipe Data

Perubahan hanya pada tipe data field tertentu. Menggunakan perintah MODIFY.

Sintaks:

```sql
ALTER TABLE Nama_Table
MODIFY Nama_Field Tipe_Data_Baru(Size);
```

Contoh:
```sql
ALTER TABLE Mahasiswa
MODIFY NIM CHAR(8);
```

<br>

## 3. Menambah Field Baru

Struktur tabel berubah dengan bertambahnya kolom baru. Menggunakan perintah ADD.

Sintaks:
```sql
ALTER TABLE Nama_Table
ADD Nama_Field_Baru Tipe_Data(Size);
```

Contoh:
```sql
ALTER TABLE Mahasiswa
ADD Fakultas VARCHAR(30);
```

<br>

##4. Menghapus Field

Field dihapus dari struktur tabel menggunakan DROP COLUMN.

Sintaks:

```sql
ALTER TABLE Nama_Table
DROP COLUMN Nama_Field;
```

Contoh:
```sql
ALTER TABLE Mahasiswa
DROP COLUMN Fakultas;
```

<br>


# 4.4 DROP ‚Äì Menghapus Tabel

Jika tabel sudah tidak dibutuhkan, tabel dapat dihapus menggunakan perintah DROP TABLE.

Sintaks:
```sql
DROP TABLE Nama_Table;
```

Contoh:
```sql
DROP TABLE Mhs;
```

```bash
Kalau mau, bisa aku gabungkan dengan materi test awal, atau dibuat jadi satu modul README yang lebih lengkap.
```